.outside {
	width: 90%;
	padding-top: 2% 5% 1% 8%;
	margin-left: 5%;
}

.introParagraph {
	width: 90%;
}

p {
	font-size: 23px;
	vertical-align: middle;
	text-align: justify;
}

p.second {
	display: block;
	text-align: justify;
}

p > a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 150px;
	max-height: 150px;
	margin: 10px;
}

p.welcome {
	text-align: right;
}

.images {
	/*display: inline-block;*/
	padding: 5%;
}



.footer {
	text-align: center;
	
	border-top: .5px solid #cccccc;
}

p.bottom {
	font-size: 14px;
	
}

p.bottomLink {
	display: inline-block;
	font-size: 14px;
	pad	
}

.Row {
	display: flex;
	justify-content: space-between;
}
